.pointer {
    cursor: pointer;
}
.bg-purpura {
    background-color: #6200ed;
}
.unselected {
    -webkit-user-select: none;
}
input[type=number]::-webkit-outer-spin-button,

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}